openapi: 3.0.0
info:
  title: Leafly Integration Menu Status API
  version: '2.0'
  description: 'Near-real-time menu integration API for keeping a dispensary''s Leafly menu in sync with its system of record (POS). When menu items are edited or inventory levels change, the system of record makes HTTP requests to the menu integration URL with a JSON payload of menu items. Every call is scoped by a Leafly-issued menu_integration_key path parameter. V2 authenticates with OAuth2 client credentials.

    This OpenAPI document was authored by API Evangelist from Leafly''s public ReDoc documentation (https://docs.leafly.io/menu-integration-docs/v2.html) for cataloging purposes. It reflects the documented endpoints and the item schema; it is not the vendor''s own distributed specification.'
  contact:
    name: Leafly API Support
    email: api-support@leafly.com
    url: https://docs.leafly.io/menu-integration-docs/v2.html
servers:
- url: https://api.leafly.com/v2/menu_integration
  description: Production
- url: https://api-sandbox.leafly.io/v2/menu_integration
  description: Sandbox
security:
- OAuth2ClientCredentials: []
tags:
- name: Status
paths:
  /{menu_integration_key}/status:
    get:
      summary: Get menu integration status
      description: Report the health and status of the menu integration.
      operationId: getStatus
      parameters:
      - $ref: '#/components/parameters/MenuIntegrationKey'
      responses:
        '200':
          description: Integration status.
      tags:
      - Status
components:
  parameters:
    MenuIntegrationKey:
      name: menu_integration_key
      in: path
      required: true
      description: Leafly-issued key that scopes the request to a single dispensary integration.
      schema:
        type: string
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.leafly.com/oauth/token
          scopes: {}
